.profile__header{
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color:#FFFFFF;
    margin: 0 0;
}

@media screen and (max-width: 767px){
    .profile__header {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        margin-top: 26px;
        margin-left: 24px;
    }
  }