.elements__like{
    border: 1px solid white;
    background-color: white;
    padding: 0 0;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 29px;
    min-height: 19px;
    background-image: url(../../../images/like.svg);
    outline-style: none;
    cursor: pointer;
    transition: opacity 1s linear;
}

.elements__like:hover{
    opacity: 0.5;
}