.profile__button_type_edit{
    border: 1px solid white;
    background-image: url(../../../../images/pen.svg);
    min-width: 24px;
    min-height: 24px;
    margin-left: 9px;
    background-size: 10px 10px;
}

@media screen and (max-width: 863px){
    .profile__button_type_edit {
        min-width: 18px;
        min-height: 18px;
        margin-left: 4px;
        background-size: 7.5px 7.5px;
    }
  }